h1{
    text-align: center;
    color: blue;
}


#counterDisplay{
    display: block;
    font-size: 10em;
    text-align: center;
    color: brown;
}

#buttonContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}